*{
    margin: 0px;
    padding: 0px;
    font-family: montregular;
}
@font-face {
    font-family: montregular;
    src: url(../fonts/Montserrat-Regular.ttf);
} 
.text-contact {
    font-weight: 700 ;
    color:  rgb(25,31,92);
    font-size:25px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}
.contact-no{
    width: 277px;
    border-radius: 30px;
    margin: auto;
    margin-top: 390px;
    height: 47px;
    background-color: rgb(25,31,92);
}
.contact-no-icon{
    width: 30px;
    background-color: white;
    margin-left: 4px;
    border-radius: 60px;
    padding-top: 10px;
    padding-right: 43px;
}
.contact-no-text {
    width: 220px;
    margin-left: 10px;
    margin-top: 3px;
}
.contact-no-text span{
    color: white;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 5px;
}
.contact-no-icon,.contact-no-text{
    display: inline-block;
}
.icon-contact{
    width: 289px;
    margin: auto;
    margin-top: 10px;
    padding-left: 25px;
}
.youtube,.facebook,.whatsapp{
    width: 30px;
    background-color: rgb(25,31,92);
    margin-left: 7px;
    margin-top: 4px;
    border-radius: 60px;
    padding: 2px;
    padding-right: 35px;
}
.all-icon{
    width: 50px;
    display: inline-block;
    margin-left: 20px;
}
.icon-tag{
    color: white;
    margin: 1px;
}
.icon-name{
    font-size: 10px;
    text-align: center;
    text-decoration: underline;
    color: rgb(25,31,92);
}
.bottom-headder{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}